<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/welcome']">Bookstore</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/welcome']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['books']">Book List</a>
                </li>
            </ul>
            <!--/.nav-collapse -->
        </div>
    </div>
</nav>
<div class="container-fluid main">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>