<div class="col-xs-12">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="input-group">
                <input [(ngModel)]='bookFilter' type="text" class="form-control" placeholder="Filter by...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Filter</button>
                </span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <span id="filter-string">Filtering by: {{bookFilter}}</span>
        </div>
    </div>
    <br>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor='let book of books | filter:bookFilter'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title"> {{book.name | capitalize}}</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-5">
                    <img class="book-image" src="{{'images/' + book.name | join}}.jpg">
                </div>
                <div class="col-xs-7">
                    <p><strong>{{book.author}}</strong></p>
                    <p>{{book.description}}</p>
                    <p>{{book.price | currency:'USD':true:'1.2-2'}}</p>
                    <star [rating]='book.starRating' (ratingClicked)='onRatingClicked($event)'></star>
                    <div>
                        <a [routerLink]="['/book', book.bookId]">See book details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>