<div class="col-lg-12 col-xs-12">
    <div class="panel panel-default" *ngIf='book'>
        <div class="panel-heading">
            <h2 class="panel-title"> {{book.name | capitalize}}</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-5">
                    <img width="80%" src="{{'images/' + book.name | join}}.jpg">
                </div>
                <div class="col-xs-7">
                    <p><strong>{{book.author}}</strong></p>
                    <p>{{book.description}}</p>
                    <p>{{book.price | currency:'USD':true:'1.2-2'}}</p>
                    <p>Bookcode: {{book.bookId}}</p>
                    <p>Release date: {{book.releaseDate}}</p>
                    <star [rating]='book.starRating' (ratingClicked)='onRatingClicked($event)'></star>
                </div>
            </div>
        </div>
    </div>
</div>